
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">Đăng ký tài khoản mới</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active"> Đăng ký</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <h1>Đăng ký tài khoản mới</h1>
            <p class="font-italic text-muted mb-0">Nhanh chóng và dễ dàng</p>
        </div>
        <div class="col-md-7 col-lg-6 ml-auto">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm())
                    {
                        if (ViewBag.Error != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.Error
                            </div>
                        }
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="fullname" placeholder="Họ tên" style="width: 100%" name="Hoten">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input type="email" class="form-control" id="email" placeholder="Email" style="width: 100%" name="Email">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="username" placeholder="Tên tài khoản" style="width: 100%" name="TaiKhoan">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" id="password" placeholder="Mật khẩu" style="width: 100%" name="MatKhau">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" id="passwordconfirm" placeholder="Xác nhận mật khẩu" style="width: 100%" name="XacNhanMatKhau">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fas fa-location-arrow"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="address" placeholder="Địa chỉ" style="width: 100%" name="DiaChi">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-phone-square text-muted"></i>
                                </span>
                            </div>  
                            <input type="tel" class="form-control" id="phone" placeholder="Điện thoại" style="width: 100%" name="Sdt">
                        </div>

                        <div class="mb-2 text-center">
                            <button type="submit" class="btn btn-template-outlined" style="width:100%"><b>Đăngký</b></button>
                        </div>
                    }
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-3">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">hoặc</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>
                    <!-- Social Login -->
                    <div class="form-group col-lg-12 mx-auto ">
                        <a href="@Url.Action("LoginFacebook","Customer")" class="btn btn-primary btn-block py-2 btn-facebook">
                            <i class="fab fa-facebook-f"></i>
                            <span class="font-weight-bold">Đăng ký bằng Facebook</span>
                        </a>
                    </div>
                    <!-- Already Registered -->
                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold">Bạn đã đăng ký?<a href="@Url.Action("Login","Customer")" class="text-primary ml-2">Đăng nhập</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="get-it">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center p-3">
                <h3>bạn cần tìm một chiếc xe cho mình?</h3>
            </div>
            <div class="col-lg-4 text-center p-3"> <a href="#" class="btn btn-template-outlined-white">Mua ngay</a></div>
        </div>
    </div>
</div>
