
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@*<script src="~/Areas/Admin/Helpers/ckeditor/ckeditor.js"></script>*@
<div class="container">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9">
                        <h2 class="h2">GỬI PHẢN HỒI LIÊN HỆ</h2>
                    </div>
                    <div class="col-md-3" style="text-align:right;">
                        
                        @Html.ActionLink("QUAY LẠI", "Index")
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div class="row border border-2 border-dark rounded-3 py-3">
            <div class="col-md-12">
                @using (Html.BeginForm("Feedback", "CONTACTs", FormMethod.Post))
                {
                    <input name="id" value="@Model.IdContact" hidden />
                    <div class="mb-3">
                        <label class="form-label">Gửi đến:</label>
                        <input type="text" name="address" class="form-control" required value="@Model.Email" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tiêu đề:</label>
                        <input type="text" name="title" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nội dung:</label>
                        <input name="message" class="form-control" rows="7" required>

                    </div>
                    @*<script>CKEDITOR.replace("message");</script>*@
                    <button type="submit" class="btn btn-primary form-control">Gửi phản hồi</button>
                }
            </div>
        </div>
    </div>
