@model IEnumerable<WebBanXe.Model.BRAND>
<div class="card-header ">
    <h3>Hãng xe</h3>
</div>
<div class="list-group list-group-flush">
    @foreach (var brand in Model)
    {
        <a href="@Url.Action("Prent","Rent", new { idBrand = brand.IdBrand },null)" class="list-group-item">@brand.NameBrand</a>
    }
</div>


