
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
                <h1 class="h2">GIỚI THIỆU</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">TRANG CHỦ</a></li>
                    <li class="breadcrumb-item active">GIỚI THIỆU</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <section class="bar no-padding-bottom">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Sự Khởi Đầu</h2>
                    </div>
                    <p class="lead no-mb">Nguyên thủy là một cửa hàng thu mua xe máy cũ ở quận 9. Bắt đầu từ việc thu mua những chiếc xe cũ đầu tiên, rồi bán lại cho những người chủ mới. Cửa hàng này là nơi tập kết những chiếc xe máy đã qua sử dụng của người dân trong khu vực. Người dân đổ về tp. hcm học tập, làm việc càng nhiều thì nhu cầu có chiếc xe máy vừa túi tiền để làm phương tiện đi lại, mưu sinh cũng càng cao. Trong khi đó, lại có một lượng lớn xe dư thừa do chủ xe đã có nhu cầu mới…</p>
                </div>
            </div>
        </section>
        <section class="bar">
            <div class="row portfolio-project">
                <div class="container">
                    <div class="homepage owl-carousel">
                        <div class="item">
                            <div class="row">
                                <div class="col-md-5 text-right">
                                    <br />
                                    <h1>XE CŨ ĐI LÀM GIÁ RẺ BẤT NGỜ</h1>
                                    <p>Sang tên, đổi chủ nhanh chóng<br>5 phút thủ tục</p>
                                </div>
                                <div class="col-md-7"><img src="/Public/img/bannerslider1-xemayz.png" alt="" class="img-fluid"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-7 text-center">
                                    <img src="/Public/img/bannerslider2-xemayz.png" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-5">
                                    <br />
                                    <h1>XE CŨ ĐI LÀM GIÁ RẺ BẤT NGỜ</h1>
                                    <p>Sang tên, đổi chủ nhanh chóng<br>5 phút thủ tục</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-5 text-right">
                                    <br />
                                    <h1>BẢO HÀNH</h1>
                                    <ul class="list-unstyled">
                                        <li>Vệ sinh xe</li>
                                        <li>kiểm tra định kỳ</li>
                                        <li>thay nhớt miễn phí trong vòng 2000km đầu</li>
                                        <li>miễn phí rửa xe</li>
                                    </ul>
                                </div>
                                <div class="col-md-7"><img src="/Public/img/banner-cuoi-xemayz.png" alt="" class="img-fluid"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-7"><img src="/Public/img/xe-con-tay-tu-25-trieu-xemayz.png" alt="" class="img-fluid"></div>
                                <div class="col-md-5">
                                    <br />
                                    <h1>Xe côn tay</h1>
                                    <ul class="list-unstyled">
                                        <li>Giá từ 25-40 triệu</li>
                                        <li>nhiều mẫu mã, giá cả phải chăng</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 my-5">
                    <div class="heading">
                        <h3>Trở thành điạ chỉ trung gian của xe máy cũ.</h3>
                    </div>
                    <p style="font-size:larger"> <strong>XemayDHCV</strong> là đơn vị tiên phong trong việc giải quyết bài toán cung-cầu xe máy cũ trên thị trường. XemayDHCV muốn trở thành đơn vị mọi người nghĩ đến đầu tiên khi nghĩ đến xe máy cũ, xe thanh lý, xe đã qua sử dụng.</p>
                    <section>
                        <div class="row portfolio my-5">
                            <div class="col-sm-6">
                                <img src="~/Public/img/xega.png" />
                            </div>
                            <div class="col-sm-6 my-5">
                                <div>
                                    <div class="heading" style="text-align:left">
                                        <h4>Thu mua xe</h4>
                                    </div>
                                    <p style="font-size:larger"> Vì cơ sở vật chất tinh gọn, lượng khách hàng chủ yếu từ không gian mạng nên chúng tôi có thể từ đó cung cấp mức giá hời cho các chủ xe có nhu cầu nhượng lại người bạn đường của mình. XemayDHCV là đơn vị chuyên nghiệp nên có các mức giá tiêu chuẩn cho các loại xe, đời xe. Tuyệt đối không có hình thức ép giá khách hàng.</p>
                                    <h2 style="font-size:medium"><a class="heading" href="@Url.Action("Index","Product")"><i>Xem thêm</i></a></h2>
                                </div>
                            </div>
                            <div class="col-sm-6 my-5">
                                <div class="heading">
                                    <h4>Rao bán xe</h4>
                                </div>
                                <p style="font-size:larger">Chúng tôi đăng tải các hình ảnh xe online trên chính website để khách hàng có thể tham khảo các loại xe đang có tại kho, dễ dàng tham khảo, so sánh trước khi ra quyết định mua sắm. Cách thức này vượt trội hơn hẳn so với cách truyền thống là đi tới một loạt các cửa hàng xe máy cũ, đôi khi không tìm được loại xe mình mong muốn mà lại tốn công sức chạy hàng giờ ngoài đường.</p>
                                <h2 style="font-size:medium"><a class="heading" href="@Url.Action("Index","Product")"><i>Xem thêm</i></a></h2>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Public/img/raobanxe.png" />
                            </div>
                        </div>
                </section>
            </div>
        </section>
    </div>
</div>
<section class="bar bg-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Khách hành nói gì về chúng tôi</h2>
                </div>
                <p class="lead">Sự hài lòng của khách hàng luôn là tiêu chí mà chúng tôi luôn đặt lên hàng đầu. Chúng tôi luôn muốn đem lại trải nghiệm tuyệt vời nhất đến với khách hàng.</p>
                <!-- Carousel Start-->
                <ul class="owl-carousel testimonials list-unstyled equal-height">
                    <li class="item">
                        <div class="testimonial d-flex flex-wrap">
                            <div class="text">
                                <p>Em mới ra trường nên kiếm xe ga cũ đi làm. Xem trên web được mẫu ưng ý, nhờ anh trai tới cửa hàng xem thì thấy xe y như hình thế là mua về luôn.</p>
                            </div>
                            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                                <div class="icon"><i class="fa fa-quote-left"></i></div>
                                <div class="testimonial-info d-flex">
                                    <div class="title">
                                        <h5>Mai Nguyễn</h5>
                                        <p>Nhân viên văn phòng</p>
                                    </div>
                                    <div class="avatar"><img alt="" src="~/Public/img/customer2.png" class="img-fluid"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial d-flex flex-wrap">
                            <div class="text">
                                <p>Cho ra đi em wave để lên đời con mô tô. Đăng trên các trang rao vặt mà cứ gặp nhiều người hỏi fix giá. Gọi điện thoại cho XemayDHCV đến tận nhà xem xe chốt ngay và luôn, 5 sao cho cái nhanh gọn</p>
                            </div>
                            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                                <div class="icon"><i class="fa fa-quote-left"></i></div>
                                <div class="testimonial-info d-flex">
                                    <div class="title">
                                        <h5>Anh Kiên</h5>
                                        <p>Designer</p>
                                    </div>
                                    <div class="avatar"><img alt="" src="~/Public/img/customer1.png" class="img-fluid"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial d-flex flex-wrap">
                            <div class="text">
                                <p>Xe Dream cũ quá rồi nên chú muốn mua cây xe honda số nào vừa phải đi ổn ổn để còn chạy Grab. Tới mua xe wave, bán luôn con dream bù thêm vài triệu là có xe chạy.</p>
                            </div>
                            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                                <div class="icon"><i class="fa fa-quote-left"></i></div>
                                <div class="testimonial-info d-flex">
                                    <div class="title">
                                        <h5>Chú Minh</h5>
                                        <p>Grab</p>
                                    </div>
                                    <div class="avatar"><img alt="" src="~/Public/img/customer3.png" class="img-fluid"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial d-flex flex-wrap">
                            <div class="text">
                                <p>Tôi tìm kiếm cho mình một chiếc xe máy để tiện đi lại và sinh hoạt, được người khác giới thiệu tới cửa hàng tôi đã chọn cho mình được một chiếc xe như ý muốn mà giá cả lại phải chăng, hợp lý. Đội ngũ nhân viên phục vụ rất nhiệt tình và chu đáo, tôi rất hài lòng về dịch vụ và sự chăm sóc khách hàng ở đây.</p>
                            </div>
                            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                                <div class="icon"><i class="fa fa-quote-left"></i></div>
                                <div class="testimonial-info d-flex">
                                    <div class="title">
                                        <h5>Chị Tuyết</h5>
                                        <p>Nội trợ</p>
                                    </div>
                                    <div class="avatar"><img alt="" src="~/Public/img/customer4.png" class="img-fluid"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial d-flex flex-wrap">
                            <div class="text">
                                <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                            </div>
                            <div class="bottom d-flex align-items-center justify-content-between align-self-end">
                                <div class="icon"><i class="fa fa-quote-left"></i></div>
                                <div class="testimonial-info d-flex">
                                    <div class="title">
                                        <h5>Linh Trần</h5>
                                        <p>Sinh viên</p>
                                    </div>
                                    <div class="avatar"><img alt="" src="~/Public/img/customer1.png" class="img-fluid"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- Carousel End-->
            </div>
        </div>
    </div>
</section>
<section class="bar background-pentagon no-mb">
    <div class="container">
        <h2 style="text-align:center"><i>Những con số chúng tôi tự hào</i></h2>
        <br />
        <div class="row showcase text-center my-3">
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-align-justify"></i></div>
                    <h4><span class="h1 counter">3</span><br> Kinh nghiệm</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-align-justify"></i></div>
                    <h4><span class="h1 counter">90</span><Span class="h1">%</Span><br>Khách hàng hài lòng</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-users"></i></div>
                    <h4><span class="h1 counter">7567</span><br>Khách hàng</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-copy"></i></div>
                    <h4><span class="h1 counter">10232</span><br>Đơn hàng</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-md-12 col-12">
            <div id="map"></div>
        </div>
    </div>
</section>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
        // This example displays a marker at the center of Australia.
        // When the user clicks the marker, an info window opens.10.85524289259457, 106.78536226833974
        function initMap() {
            const uluru = { lat: 10.85524289259457, lng: 106.78536226833974 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 16,
                center: uluru,
            });
            const contentString = 'Đại Học Hutech Khu E, Phường Tân Phú, Quận 9, Thành phố Hồ Chí Minh, Vietnam&amp;daddr=Đại Học Hutech Khu E, Phường Tân Phú, Quận 9, Thành phố Hồ Chí Minh, Vietnam&amp;t=&amp;z=20&amp;ie=UTF8&amp;iwloc=B&amp;output=embed';

            const infowindow = new google.maps.InfoWindow({
                content: contentString,
            });
            const marker = new google.maps.Marker({
                position: uluru,
                map,
                title: "Địa chỉ",
            });
            marker.addListener("click", () => {
                infowindow.open({
                    anchor: marker,
                    map,
                    shouldFocus: false,
                });
            }
            );
        }
        google.maps.event.addDomListener(window, 'load', initMap);
</script>
<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        text-align: right;
        width: 100%;
        height: 430px;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>