@model IEnumerable<WebBanXe.Model.BRAND>
<div class="card-header">
    <h3>Hãng xe</h3>
</div>
<div class="list-unstyled mb-3">
    @foreach (var brand in Model)
    {
          <a href="@Url.Action("Index","Product", new { idBrand = brand.IdBrand },null)" class="nav-link">@brand.NameBrand</a>     
    }
</div>
