<div class="card-header ">
    <h3>Dòng xe</h3>
</div>
<div class="list-group list-group-flush">

    <a href="@Url.Action("PLineCar","Product", new { id ="AirBlade" })" class="list-group-item">Air Blade</a>
    <a href="@Url.Action("PLineCar","Product", new { id ="Winner" })" class="list-group-item">Winner</a>
    <a href="@Url.Action("PLineCar","Product", new { id ="Deluxe" })" class="list-group-item">Deluxe</a>

</div>

