
<div class="card-header ">
    <h3>Tình trạng</h3>
</div>
<div class="list-group list-group-flush">
    
        <a href="@Url.Action("PStatus","Product", new { id =1 })" class="list-group-item">Mới</a>
        <a href="@Url.Action("PStatus","Product", new { id =0 })" class="list-group-item">Cũ</a>
   
</div>