@model IEnumerable<WebBanXe.Model.TYPECAR>
<div class="card-header ">
    <h3>Loại xe</h3>
</div>
<div class="list-unstyled mb-3">
    @foreach (var typecar in Model)
    {
    <a href="@Url.Action("Index","Product", new { idType = typecar.IdType },null)" class="nav-link">@typecar.NameType</a>
    }
</div>
