@model IEnumerable<WebBanXe.Model.TYPECAR>
<div class="card-header ">
    <h3>Loại xe</h3>
</div>
<div class="list-group list-group-flush">
    @foreach (var typecar in Model)
    {
    <a href="@Url.Action("Index","Product", new { idType = typecar.IdType },null)" class="list-group-item">@typecar.NameType</a>
    }
</div>
