
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="background: url('/Public/img/photogrid.jpg') center center repeat; background-size: cover;"
         class="relative-positioned">
    <!-- Carousel Start-->
    <div class="home-carousel">
        <div class="dark-mask mask-primary"></div>
        <div class="container">
            <div class="homepage owl-carousel">
                <div class="item">
                    <div class="row">
                        <div class="col-md-5 text-right">
                            <p><img src="~/Public/img/logo1.png" alt="" class="ml-auto"></p>
                            <h1>XE CŨ ĐI LÀM GIÁ RẺ BẤT NGỜ</h1>
                            <p>Sang tên, đổi chủ nhanh chóng<br>5 phút thủ tục</p>
                        </div>
                        <div class="col-md-7"><img src="/Public/img/bannerslider1-xemayz.png" alt="" class="img-fluid"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-7 text-center">
                            <img src="/Public/img/bannerslider2-xemayz.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-5">
                            <h1>XE CŨ ĐI LÀM GIÁ RẺ BẤT NGỜ</h1>
                            <p>Sang tên, đổi chủ nhanh chóng<br>5 phút thủ tục</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-5 text-right">
                            <h1>BẢO HÀNH</h1>
                            <ul class="list-unstyled">
                                <li>Vệ sinh xe</li>
                                <li>kiểm tra định kỳ</li>
                                <li>thay nhớt miễn phí trong vòng 2000km đầu</li>
                                <li>miễn phí rửa xe</li>
                            </ul>
                        </div>
                        <div class="col-md-7"><img src="/Public/img/banner-cuoi-xemayz.png" alt="" class="img-fluid"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-7"><img src="/Public/img/xe-con-tay-tu-25-trieu-xemayz.png" alt="" class="img-fluid"></div>
                        <div class="col-md-5">
                            <h1>Xe côn tay</h1>
                            <ul class="list-unstyled">
                                <li>Giá từ 25-40 triệu</li>
                                <li>nhiều mẫu mã, giá cả phải chăng</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End-->
</section>
<section class="bar">
    <div class="container text-center">
        <div class="col-md-12">
            <div class="heading text-center">
                <h2>Dịch vụ của chúng tôi</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="box-simple">
                        <div class="icon-outlined"><i class="fas fa-biking"></i></div>
                        <h3 class="h4">Giao xe tận nhà</h3>
                        <p>Miễn phí nội thành thành phố Hồ Chí Minh </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="box-simple">
                        <div class="icon-outlined"><i class="fas fa-tools"></i></div>
                        <h3 class="h4">Bảo dưỡng</h3>
                        <p>Xe mua trong vòng 2 tháng đầu sử dụng được bảo hành miễn phí</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="box-simple">
                        <div class="icon-outlined"><i class="fas fa-signature"></i></div>
                        <h3 class="h4">Thủ tục nhanh chóng</h3>
                        <p> Sang tên nhanh chóng</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="box-simple">
                        <div class="icon-outlined"><i class="fa fa-users"></i></div>
                        <h3 class="h4">Tận tình</h3>
                        <p>Khách hàng là niềm tin của chúng tôi</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="box-simple">
                        <div class="icon-outlined"><i class="fas fa-chalkboard-teacher"></i></div>
                        <h3 class="h4">Chuyên nghiệp</h3>
                        <p>Phân tích, làm việc tập trung</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="box-simple">
                        <div class="icon-outlined"><i class="fas fa-chalkboard-teacher"></i></div>
                        <h3 class="h4">Ưu đãi</h3>
                        <p>Nhiều ưu đãi hấp dẫn bất ngờ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row showcase text-center">
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-align-justify"></i></div>
                    <h4><span class="h1 counter">3</span><br> Kinh nghiệm</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-align-justify"></i></div>
                    <h4><span class="h1 counter">90</span><Span class="h1">%</Span><br>Khách hàng hài lòng</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-users"></i></div>
                    <h4><span class="h1 counter">7567</span><br>Khách hàng</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon-outlined icon-sm icon-thin"><i class="fa fa-copy"></i></div>
                    <h4><span class="h1 counter">10232</span><br>Đơn hàng</h4>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="bar background-white no-mb">
    <div data-animate="fadeInUpBig" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Sản phẩm nổi bật</h2>
                </div>
                <div class="project-carousel">
                    <div class="container">
                        <div class="project owl-carousel">
                            <div class="item">
                                <div class="row portfolio text-center color-white">
                                    @foreach (var product in Model)
                                    {
                                        <div class="col-md-4">
                                            <div class="box-image">
                                                <div class="image">
                                                    <a href="@Url.Action("Detail","Product", new { id = product.IdProduct },null)">
                                                        @foreach (var item in product.IMG_PRODUCT)
                                                        {
                                                            if (item.IdProduct == product.IdProduct && item.AltImg == item.IdProduct + "_1")
                                                            {
                                                                <img src="~/Public/img/@item.LinkImg" alt="@item.AltImg" class="img-fluid">
                                                            }
                                                        }
                                                        <div class="overlay d-flex align-items-center justify-content-center">
                                                            <div class="content">
                                                                <div class="name">
                                                                    <h3><a href="portfolio-detail.html" class="color-white">Thông tin chi tiết</a></h3>
                                                                </div>
                                                                <div class="text">
                                                                    <p class="d-sm-none">
                                                                        Pellentesque habitant morbi tristique senectus et netus et
                                                                        malesuada
                                                                    </p>
                                                                    <p class="buttons">
                                                                        <a href="portfolio-detail.html"
                                                                           class="btn btn-template-outlined-white">View</a><a href="#"
                                                                                                                              class="btn btn-template-outlined-white">Mua ngay</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>


                                    }

                                </div>
                            </div>
                        </div>
                        <!-- <div class="owl-controls">
                          <div class="owl-nav">
                            <div class="owl-prev">prev</div>
                            <div class="owl-next">next</div>
                          </div>
                          <div class="owl-dots">
                            <div class="owl-dot active"><span></span></div>
                            <div class="owl-dot"><span></span></div>
                            <div class="owl-dot"><span></span></div>
                          </div>
                        </div> -->
                    </div>


                    <div class="see-more text-center">
                        <p></p><a href="portfolio-4.html" class="btn btn-template-outlined">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
</section>
<section style="background: url(/Public/img/bannervespa.png) center top no-repeat; background-size: cover;"
         class="bar no-mb color-white text-center bg-fixed relative-positioned">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="icon-outlined"><i class="fa fa-phone"></i></div>
        <h1 class="text-uppercase">bạn cần tìm một chiếc xe mới cho mình?</h1>
        <p class="lead">Chúng tôi là đơn vị hàng đầu cung cấp nhiều dòng xe dành cho mọi đối tượng sử dụng</p>
        <p class="text-center">
            <a href="index2.html" class="btn btn-template-outlined-white btn-lg">
                Liên hệ ngay với
                chúng tôi
            </a>
        </p>
    </div>
</section>
<section class="bar bg-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h3>Các hãng xe</h3>
                </div>
                <ul class="list-unstyled owl-carousel brand no-mb">
                    <li class="item"><img src="/Public/img/yamaha.svg" alt="" class="img-fluid"></li>
                    <li class="item"><img src="/Public/img/piaggio-vespa.svg" alt="" class="img-fluid"></li>
                    <li class="item"><img src="/Public/img/honda.svg" alt="" class="img-fluid"></li>
                    <li class="item"><img src="/Public/img/kymco.svg" alt="" class="img-fluid"></li>
                    <li class="item"><img src="/Public/img/yamaha.svg" alt="" class="img-fluid"></li>
                    <li class="item"><img src="/Public/img/honda.svg" alt="" class="img-fluid"></li>
                    <li class="item"><img src="/Public/img/honda.svg" alt="" class="img-fluid"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bar background-white no-mb">
    <div data-animate="fadeInUpBig" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Sản phẩm ưu đãi</h2>
                </div>
                <div class="project-carousel">
                    <div class="container">
                        <div class="project owl-carousel">
                            <div class="item">
                                <div class="row portfolio text-center color-white">
                                    @foreach (var product in Model)
                                    {
                                        <div class="col-md-4">
                                            <div class="box-image">
                                                <div class="image">
                                                    <a href="@Url.Action("Detail","Product", new { id = product.IdProduct },null)">
                                                        @foreach (var item in product.IMG_PRODUCT)
                                                        {
                                                            if (item.IdProduct == product.IdProduct && item.AltImg == item.IdProduct + "_1")
                                                            {
                                                                <img src="~/Public/img/@item.LinkImg" alt="@item.AltImg" class="img-fluid">
                                                            }
                                                        }
                                                    <div class="overlay d-flex align-items-center justify-content-center">
                                                        <div class="content">
                                                            <div class="name">
                                                                <h3><a href="portfolio-detail.html" class="color-white">Thông tin chi tiết</a></h3>
                                                            </div>
                                                            <div class="text">
                                                                <p class="d-sm-none">
                                                                    Pellentesque habitant morbi tristique senectus et netus et
                                                                    malesuada
                                                                </p>
                                                                <p class="buttons">
                                                                    <a href="#"
                                                                       class="btn btn-template-outlined-white">View</a><a href="#"
                                                                                                                          class="btn btn-template-outlined-white">Mua ngay</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }                             
                            </div>
                        </div>
                    </div>
                    <!-- <div class="owl-controls">
                      <div class="owl-nav">
                        <div class="owl-prev">prev</div>
                        <div class="owl-next">next</div>
                      </div>
                      <div class="owl-dots">
                        <div class="owl-dot active"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                        <div class="owl-dot"><span></span></div>
                      </div>
                    </div> -->
                </div>


                <div class="see-more text-center">
                    <p></p><a href="#" class="btn btn-template-outlined">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bar bg-gray no-mb">
    <div class="container">
        <div class="col-md-12">
            <div class="heading text-center">
                <h2>Tạp chí xe</h2>
            </div>
            <!-- <p class="lead">Bạn là người đam mê thế giới xe? Khám phá ngay những tin tức mới nhất về thị trường xe Việt Nam, đánh giá xe, lời khuyên tư vấn, bảng giá xe từ DHVT </p> -->
            <div class="row">
                <div class="col-lg-3">
                    <div class="home-blog-post">
                        <div class="image">
                            <img src="/Public/img/tapchixe.jpg" alt="..." class="img-fluid">
                            <div class="overlay d-flex align-items-center justify-content-center">
                                <a href="#"
                                   class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a>
                            </div>
                        </div>
                        <div class="text">
                            <h4><a href="#">Trên tay Chi tiết Honda H’ness CB350 tại Việt Nam</a></h4>
                            <p class="author-category">By <a href="#">Vulee </a> in <a href="#">Tạp chí xe</a></p>
                            <p class="intro">
                                Honda CB350 H'ness ra mắt tại Ấn Độ vào khoảng tháng 9 năm ngoái và giờ thì đã có mặt
                                tại thị trường Việt Nam
                            </p><a href="#" class="btn btn-template-outlined">Đọc thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="home-blog-post">
                        <div class="image">
                            <img src="/Public/img/tapchixe.jpg" alt="..." class="img-fluid">
                            <div class="overlay d-flex align-items-center justify-content-center">
                                <a href="#"
                                   class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a>
                            </div>
                        </div>
                        <div class="text">
                            <h4><a href="#">mô tô Husqvarna sẽ có mặt tại Việt Nam vào tháng 8 </a></h4>
                            <p class="author-category">By <a href="#">Đạt Phạm</a> in <a href="#">Tạp chí xe</a></p>
                            <p class="intro">
                                Husqvarna - thương hiệu xe nước Áo có nguồn gốc Thụy Điển sẽ sớm có mặt tại Việt Nam
                                trong năm nay.
                            </p><a href="#" class="btn btn-template-outlined">Đọc thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="home-blog-post">
                        <div class="image">
                            <img src="/Public/img/tapchixe.jpg" alt="..." class="img-fluid">
                            <div class="overlay d-flex align-items-center justify-content-center">
                                <a href="#"
                                   class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a>
                            </div>
                        </div>
                        <div class="text">
                            <h4><a href="#">Yamaha R1 2016: đẹp, mạnh, động cơ khác với số đông</a></h4>
                            <p class="author-category">By <a href="#">Vũ Chí</a> in <a href="#">Tạp chí xe</a></p>
                            <p class="intro">
                                FYamaha R1 là một chiếc superbike được nhiều anh em yêu thích từ khi mới ra mắt cho
                                tới thời điểm hiện tại.
                            </p><a href="#" class="btn btn-template-outlined">Đọc thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="home-blog-post">
                        <div class="image">
                            <img src="/Public/img/tapchixeDibaoCreer.jpg" alt="..." class="img-fluid">
                            <div class="overlay d-flex align-items-center justify-content-center">
                                <a href="#"
                                   class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a>
                            </div>
                        </div>
                        <div class="text">
                            <h4><a href="#">Trên tay Dibao Creer 50cc: xe dành cho học sinh, giá 24 triệu </a></h4>
                            <p class="author-category">By <a href="#">Hiệp Phan</a> in <a href="#">Tạp chí xe</a></p>
                            <p class="intro">
                                Dibao Creer là mẫu xe 50 phân khối với thiết kế hướng đến các bạn vẫn chưa có bằng
                                lái
                            </p><a href="#" class="btn btn-template-outlined">Đọc thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>