
@{
    ViewBag.Title = "BlogHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section style="background: url('/Public/img/photogrid.jpg') center center repeat; background-size: cover;"
         class="relative-positioned">
    <!-- Carousel Start-->
    <div class="home-carousel">
        <div class="dark-mask mask-primary"></div>
        <div class="container">
            <div class="homepage owl-carousel">
                <div class="item">
                    <div class="row">
                        <div class="col-md-5 text-right">
                            <h1>XE CŨ ĐI LÀM GIÁ RẺ BẤT NGỜ</h1>
                            <p>Sang tên, đổi chủ nhanh chóng<br>5 phút thủ tục</p>
                        </div>
                        <div class="col-md-7"><img src="/Public/img/bannerslider1-xemayz.png" alt="" class="img-fluid"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-7 text-center">
                            <img src="/Public/img/bannerslider2-xemayz.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-5">
                            <h1>XE CŨ ĐI LÀM GIÁ RẺ BẤT NGỜ</h1>
                            <p>Sang tên, đổi chủ nhanh chóng<br>5 phút thủ tục</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-5 text-right">
                            <h1>BẢO HÀNH</h1>
                            <ul class="list-unstyled">
                                <li>Vệ sinh xe</li>
                                <li>kiểm tra định kỳ</li>
                                <li>thay nhớt miễn phí trong vòng 2000km đầu</li>
                                <li>miễn phí rửa xe</li>
                            </ul>
                        </div>
                        <div class="col-md-7"><img src="/Public/img/banner-cuoi-xemayz.png" alt="" class="img-fluid"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-7"><img src="/Public/img/xe-con-tay-tu-25-trieu-xemayz.png" alt="" class="img-fluid"></div>
                        <div class="col-md-5">
                            <h1>Xe côn tay</h1>
                            <ul class="list-unstyled">
                                <li>Giá từ 25-40 triệu</li>
                                <li>nhiều mẫu mã, giá cả phải chăng</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End-->
</section>
<div id="content">
    <div class="container">
        <div class="row bar">
            <div id="blog-listing-medium" class="col-md-9">
                <section class="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="image"><a href="blog-post.html"><img src="img/blog-medium.jpg" alt="Example blog post alt" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-8">
                            <h2 class="h3 mt-0"><a href="post.htmls">Fashion now</a></h2>
                            <div class="d-flex flex-wrap justify-content-between text-xs">
                                <p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a></p>
                                <p class="date-comments"><a href="blog-post.html"><i class="fa fa-calendar-o"></i> June 20, 2013</a><a href="blog-post.html"><i class="fa fa-comment-o"></i> 8 Comments</a></p>
                            </div>
                            <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                            <p class="read-more text-right"><a href="blog-post.html" class="btn btn-template-outlined">Continue reading</a></p>
                        </div>
                    </div>
                </section>
                <section class="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="video">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe src="//www.youtube.com/embed/upZJpGrppJA" class="embed-responsive-item"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h2 class="h3 mt-0"><a href="post.htmls">Post with video</a></h2>
                            <div class="d-flex flex-wrap justify-content-between text-xs">
                                <p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a></p>
                                <p class="date-comments"><a href="blog-post.html"><i class="fa fa-calendar-o"></i> June 20, 2013</a><a href="blog-post.html"><i class="fa fa-comment-o"></i> 8 Comments</a></p>
                            </div>
                            <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                            <p class="read-more text-right"><a href="blog-post.html" class="btn btn-template-outlined">Continue reading</a></p>
                        </div>
                    </div>
                </section>
                <section class="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="image"><a href="blog-post.html"><img src="img/blog-medium.jpg" alt="Example blog post alt" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-8">
                            <h2 class="h3 mt-0"><a href="post.htmls">Fashion now</a></h2>
                            <div class="d-flex flex-wrap justify-content-between text-xs">
                                <p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a></p>
                                <p class="date-comments"><a href="blog-post.html"><i class="fa fa-calendar-o"></i> June 20, 2013</a><a href="blog-post.html"><i class="fa fa-comment-o"></i> 8 Comments</a></p>
                            </div>
                            <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                            <p class="read-more text-right"><a href="blog-post.html" class="btn btn-template-outlined">Continue reading</a></p>
                        </div>
                    </div>
                </section>
                <ul class="pager d-flex align-items-center justify-content-between list-unstyled">
                    <li class="previous"><a href="#" class="btn btn-template-outlined">← Older</a></li>
                    <li class="next disabled"><a href="#" class="btn btn-template-outlined">Newer →</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="h4 panel-title">Text widget</h3>
                    </div>
                    <div class="panel-body text-widget">
                        <p>Improved own provided blessing may peculiar domestic. Sight house has never. No visited raising gravity outward subject my cottage mr be. Hold do at tore in park feet near my case.</p>
                    </div>
                </div>
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="h4 panel-title">Search</h3>
                    </div>
                    <div class="panel-body">
                        <form role="search">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="h4 panel-title">Categories</h3>
                    </div>
                    <div class="panel-body">
                        @Html.Action("CategoryBlog", "Blog")
                    </div>
                </div>
                <div class="panel sidebar-menu">
                    <div class="panel-heading">
                        <h3 class="h4 panel-title">Tags</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="tag-cloud list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-tags"></i> html5</a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-tags"></i> css3</a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-tags"></i> jquery</a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-tags"></i> ajax</a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-tags"></i> php</a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-tags"></i> responsive</a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-tags"></i> visio</a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-tags"></i> bootstrap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





